*{
  font-family: 'Courier New', Courier, monospace;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #808080;
}

*::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
.dndflow {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #dbdbdb, #f8f5f5);
}

.mini-map-black {
  background-color: #606060; 
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: #606060;
  height:850px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: #808080; 
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  background: #f9fbfd;
  position: relative;
}

.h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  color: #c9cacc;
  background-color: #858080;
  border-radius: 4px;
  box-shadow: -5px 5px 5px rgb(255, 255, 255);
  display: inline-block;

}

.h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  color: #c9cacc;
  background-color: #858080;
  border-radius: 4px;
  box-shadow: -5px 5px 5px rgb(255, 255, 255);
  display: inline-block;
}


.h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 8px;
  color: #333;
}

.reactflow-wrapper {
  height: 73vh;
  border: 1px solid #606060;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.dndnode {
  margin-bottom: 18px;
  padding: 15px;
  border-radius: 8px;
  background: #c5c3c3;
  cursor: grab;
  transition: all 0.3s ease;
}

.dndnode:hover {
  background-color: #9c9c9c;
  border-color: #94989b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.06);
}

.dndnode .parts{ 
  border-color: #1f2122; 

}

.context-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(40%, -40%);
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 15px;
  z-index: 100;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  max-height: 50vh;
  font-family: 'Segoe UI', sans-serif;
  overflow-y: auto;
}

.context-menu h4 {
  margin-top: 0;
  font-size: 1.5em;
  color: #232b33;
  border-bottom: 2px solid #e0e7ff;
  padding-bottom: 10px;
}

.context-menu label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 500;
  color: #555;
}

.context-menu input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.context-menu button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #383750;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.context-menu button:hover {
  background-color: #83838b;
}

.custom-node {
  padding: 15px;
  background: #f9fbfd;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  cursor: grab;
}

.custom-node .node-header {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.main-content {
  padding: 25px;
  background: linear-gradient(135deg, #606060, #f4f4f4);
  
}

.save-button {
    padding: 12px 25px;
    background-color: #6d7072;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0px; 
}
.view-button {
    padding: 12px 25px;
    background-color: #6d7072;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 15px; 
}
.node-image{
  width: 100px; 
  padding-left: 150px;
  height: auto; 
  border-radius: 6px;
  display: block;
}
.view-button:hover {
  
  background-color: #434e5a;
}

.save-button:hover {
  background-color: #434e5a;
}

.section {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 18px;
  font-weight: bold;
  background-color: #434e5a;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.text:hover {
  background-color: #606060;
  transform: scale(1.1);
}

.popup {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1000;
  width: 220px;
  transition: opacity 0.3s ease;
}

.section:hover .popup {
  display: block;
  opacity: 1;
}

.popup p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.popup ul {
  padding-left: 20px;
  margin-top: 10px;
  list-style-type: disc;
}

.popup li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.popup li::marker {
  color: #606060;
}
